Witaj #{@email}!

Jeśli chcesz używać aplikacji mobilnej Auto Stop Race (Android), musisz potwierdzić swoje konto klikając na link poniżej:

\#{link_to 'Potwierdź konto', confirmation_url(@resource, confirmation_token: @token)}


Aplikację znajdziesz pod adresem https://play.google.com/store/apps/details?id=pl.temomuko.autostoprace
