%p
  Witaj #{@email}!
%p Jeśli chcesz używać aplikacji mobilnej Auto Stop Race (Android/iOS), musisz potwierdzić swoje konto klikając na link poniżej:
%p= link_to 'Potwierdź konto', confirmation_url(@resource, confirmation_token: @token)
%p
  Aplikację znajdziesz na <a href="https://play.google.com/store/apps/details?id=pl.temomuko.autostoprace">Google Play</a> oraz w <a href="https://itunes.apple.com/pl/app/auto-stop-race/id1226129375?l=pl">App Store</a>.
