%p
  Witaj #{@resource.email}!
%p Ktoś (prawdopodobnie Ty) zażądał zmiany hasła do konta. Możesz tego dokonać klikając w poniższy link:
%p= link_to 'Zmień hasło', edit_password_url(@resource, reset_password_token: @token)
%p Jeżeli to nie Ty składałeś prośbę o zmianę hasła - możesz zignorować ten email.
%p Twoje hasło nie ulegnie zmianie dopóki nie klikniesz na link i nie ustawisz nowego.
