Witaj #{@resource.email}!

Ktoś (prawdopodobnie Ty) zażądał zmiany hasła do konta. Możesz tego dokonać klikając w poniższy link:

\#{link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token)}

Jeżeli to nie Ty składałeś prośbę o zmianę hasła - możesz bezpiecznie zignorować ten email.
Twoje hasło nie ulegnie zmianie dopóki nie klikniesz na link i nie ustawisz nowego.
