%script{:src => "https://maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry", :type => "text/javascript"}
%script{:src => "https://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js", :type => "text/javascript"}
#menu
  %input#search(placeholder="Wpisz numer drużyny" type="text"){onkeyup: "searchTeams()"}
  %ul
    - @teams.each do |team|
      %li{style: "display: none;", class: "li#{team.number}"}= team.name
#map
:javascript
  var _markers = #{@markers};
  var visibleMarkers = [];
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {zoom: 5, center: new google.maps.LatLng(51, 20)}, internal: {id: 'map'}}, function() {
  });

  function searchTeams() {
    var searchTerm = document.getElementById("search").value
    handler.removeMarkers(visibleMarkers);
    visibleMarkers = _markers[searchTerm]
    visibleMarkers = handler.addMarkers(visibleMarkers);
    handler.bounds.extendWith(visibleMarkers);
  }
